html,body{
    height: 100%;
}

#mainContainer{
    height: 100%;
}

#topMargin{
    height: 10%;
}

.line{
    margin-top: 10px;
    margin-bottom: 10px;
}

.upMenu{
    margin-bottom: 25px;
}

#calcButton{
    display: none;
}